{% extends 'base.html' %}
{% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home_landing' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'report' %}">Reports</a>
        </li>
        <li class="breadcrumb-item active">Delete</li>
    </ol>
</nav>
{% endblock %}
{% block content %}

<div class="card p-4 text-center shadow-sm">

<h5>Hapus Laporan</h5>
<p class="text-muted">Data yang dihapus tidak bisa dikembalikan</p>
<p>Yakin ingin menghapus laporan ini?</p>

<form method="post">
{% csrf_token %}
<button class="btn btn-danger">Ya, Hapus</button>
<a href="{% url 'report' %}" class="btn btn-light">Batal</a>
</form>

</div>

{% endblock %}