{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card shadow-sm card-box p-5 text-center">

    <h2 class="fw-bold">Selamat Datang di Kota Hidup</h2>
    <p class="text-muted">Sistem pelaporan masyarakat untuk lingkungan yang lebih baik</p>

    <div class="mt-4">

        <a href="{% url 'report' %}" class="btn btn-primary me-2">
            Lihat Laporan
        </a>

        <a href="{% url 'add_report' %}" class="btn btn-success">
            Tambah Laporan
        </a>

    </div>

</div>
{% endblock %}