{% extends 'base.html' %}
{% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home_landing' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Reports</li>
    </ol>
</nav>
{% endblock %}
{% block content %}

<div class="card shadow-sm card-box p-4">

<div class="d-flex justify-content-between mb-3">
    <div>
        <h4 class="fw-bold">Daftar Laporan Kota Hidup</h4>
        <small class="text-muted">Sistem Pelaporan Smart City</small>
    </div>
    <a href="{% url 'add_report' %}" class="btn btn-primary">
        + Tambah Laporan
    </a>
</div>

<div class="table-responsive">
<table class="table align-middle table-hover">

<thead class="table-dark">
<tr>
<th>Judul</th>
<th>Kategori</th>
<th>Lokasi</th>
<th>Tanggal</th>
<th>Status</th>
<th>Aksi</th>
<th>Progress</th>
</tr>
</thead>

<tbody>
{% for report in reports %}
<tr>

<td><b>{{ report.title }}</b></td>
<td>{{ report.category }}</td>
<td class="text-truncate" style="max-width:150px;">{{ report.location }}</td>
<td>{{ report.incident_date }}</td>

<td>
{% if report.status == 'REPORTED' %}
<span class="badge badge-soft-primary">Reported</span>
{% elif report.status == 'VERIFIED' %}
<span class="badge badge-soft-warning">Verified</span>
{% elif report.status == 'IN_PROGRESS' %}
<span class="badge badge-soft-info">In Progress</span>
{% else %}
<span class="badge badge-soft-success">Resolved</span>
{% endif %}
</td>

<td>
<a href="{% url 'report_detail' report.pk %}" class="btn btn-sm btn-soft-primary">Detail</a>
<a href="{% url 'edit_report' report.pk %}" class="btn btn-sm btn-soft-success">Edit</a>
<a href="{% url 'delete_report' report.pk %}" 
   class="btn btn-sm btn-soft-danger"
   onclick="return confirm('Yakin ingin menghapus laporan ini?')">
   Delete
</a>
</td>

<td>

{% if report.status == 'REPORTED' %}
<form method="POST" action="{% url 'update_status' report.pk %}">
    {% csrf_token %}
    <input type="hidden" name="status" value="VERIFIED">
    <button type="submit" class="btn btn-sm btn-soft-warning">Verifikasi</button>
</form>

{% elif report.status == 'VERIFIED' %}
<form method="POST" action="{% url 'update_status' report.pk %}">
    {% csrf_token %}
    <input type="hidden" name="status" value="IN_PROGRESS">
    <button type="submit" class="btn btn-sm btn-soft-primary">Proses</button>
</form>

{% elif report.status == 'IN_PROGRESS' %}
<form method="POST" action="{% url 'update_status' report.pk %}">
    {% csrf_token %}
    <input type="hidden" name="status" value="RESOLVED">
    <button type="submit" class="btn btn-sm btn-soft-success">Selesai</button>
</form>

{% else %}
<span class="text-success fw-bold">Selesai</span>
{% endif %}

</td>

</tr>
{% empty %}
<tr>
<td colspan="7" class="text-center py-4">
<h6>Belum ada laporan</h6>
<a href="{% url 'add_report' %}" class="btn btn-primary mt-2">Tambah Laporan</a>
</td>
</tr>
{% endfor %}
</tbody>

</table>
</div>

</div>

{% endblock %}