{% extends 'base.html' %}
{% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home_landing' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'report' %}">Reports</a>
        </li>
        <li class="breadcrumb-item active">Detail</li>
    </ol>
</nav>
{% endblock %}
{% block content %}

<div class="card p-4 shadow-sm">

<h4 class="mb-3">Detail Laporan</h4>
<hr>

<p><b>Judul:</b> {{ report.title }}</p>
<p><b>Kategori:</b> {{ report.category }}</p>
<p><b>Lokasi:</b> {{ report.location }}</p>
<p><b>Tanggal:</b> {{ report.incident_date }}</p>

<div class="mt-3">
<b>Deskripsi:</b>
<p class="text-muted">{{ report.description }}</p>
</div>

</div>

<p>
<b>Status:</b>
{% if report.status == 'REPORTED' %}
<span class="badge badge-soft-primary">Reported</span>
{% elif report.status == 'VERIFIED' %}
<span class="badge badge-soft-warning">Verified</span>
{% elif report.status == 'IN_PROGRESS' %}
<span class="badge badge-soft-info">In Progress</span>
{% else %}
<span class="badge badge-soft-success">Resolved</span>
{% endif %}
</p>

<a href="{% url 'report' %}" class="btn btn-primary">Kembali</a>

</div>

{% endblock %}