{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home_landing' %}">Home</a></li>
        <li class="breadcrumb-item active">About</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card shadow-sm card-box p-4">
    <h4 class="fw-bold">Tentang Kota Hidup</h4>
    <p class="text-muted">
        Kota Hidup adalah sistem pelaporan masyarakat yang bertujuan untuk membantu warga
        dalam melaporkan berbagai permasalahan lingkungan seperti jalan rusak, sampah,
        dan fasilitas umum lainnya.
    </p>
</div>
{% endblock %}