{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home_landing' %}">Home</a></li>
        <li class="breadcrumb-item active">Contact</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card shadow-sm card-box p-4">
    <h4 class="fw-bold">Kontak</h4>
    <p class="text-muted">
        Jika Anda mengalami kendala atau memiliki pertanyaan terkait sistem Kota Hidup,
        silakan hubungi melalui email berikut:
    </p>
    <p><b>Email:</b> kota@hidup.com</p>
</div>
{% endblock %}