{% extends 'base.html' %}
{% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home_landing' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'report' %}">Reports</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
</nav>
{% endblock %}
{% block content %}

<div class="card shadow-sm p-4">

<h4>Edit Laporan</h4>

<form method="post">
{% csrf_token %}

<h5 class="mb-3">Form Laporan</h5>
<hr>

<div class="mb-3">
    {{ form.title.label_tag }}
    {{ form.title }}
</div>

<div class="mb-3">
    {{ form.category.label_tag }}
    {{ form.category }}
</div>

<div class="mb-3">
    {{ form.location.label_tag }}
    {{ form.location }}
</div>

<div class="mb-3">
    {{ form.incident_date.label_tag }}
    {{ form.incident_date }}
</div>

<div class="mb-3">
    {{ form.description.label_tag }}
    {{ form.description }}
</div>

<button type="submit"
class="btn btn-success"
style="background:#22c55e; color:white;"
onclick="this.disabled=true; this.innerHTML='Loading...'; this.form.submit();">
Simpan
</button>

<a href="{% url 'report' %}" class="btn btn-light">Kembali</a>

</form>

</div>

{% endblock %}